.addProperty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  font-size: 15px;
  padding: 10px 10px;
}

select {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 4px;
  background-color: #d4faf4;
  padding-bottom: 10px;
  padding-top: 5px;
}

.submit-btn {
  align-self: center;
}

div {
  padding: 5px 15px;
}
