.navbar {
  background-color: whitesmoke;
}

.icon {
  font-size: 30px;
}

.nav {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.item {
  margin: 0;
  padding: 5px 20px;
  display: inline-block;
}

.item:hover {
  background-color: #8debe3;
  cursor: pointer;
  border-radius: 14px;
}
